<% if (userEmail) { %>
  <span>Welcome, <%= userEmail %> | </span>
  <a href="/secret">Secret</a> |
  <a href="/logout">Logout</a>
<% } else { %>
  <a href="/signup">Signup</a> |
  <a href="/login">Login</a>
<% } %>

