<nav>
  <% if (typeof email !== 'undefined') { %>
    <span> <%= email %> | </span>
    <a href="/note">Notes</a> |
    <a href="/logout">Logout</a>
  <% } else { %>
    <a href="/signup">Signup</a> |
    <a href="/login">Login</a>
  <% } %>
</nav>
<hr>
