<% title = "Login" %>

<h1>Login</h1>
<form method="POST" action="/login">
  <label>Email:</label><br>
  <input type="email" name="email" required><br>

  <label>Password:</label><br>
  <input type="password" name="password" required><br><br>

  <button type="submit">Login</button>
</form>

<% if (errors.length > 0) { %>
  <ul>
    <% errors.forEach(err => { %>
      <li style="color:red;"><%= err %></li>
    <% }) %>
  </ul>
<% } %>



