
body {
  font-family: Arial, sans-serif;
  margin: 20px;
  background-color: #e57226;
  color: #0e0458;
}

nav {
  margin-bottom: 20px;
}

nav a {
  margin-right: 15px;
  text-decoration: none;
  color: #0066cc;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

nav span {
  font-weight: normal;
  margin-right: 10px;
}

form {
  background-color: #fff;
  padding: 20px;
  max-width: 350px;
  border-radius: 8px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 8px;
  margin-top: 4px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

form button {
  width: 100%;
  padding: 10px;
  background-color: #0066cc;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button:hover {
  background-color: #78a5d4;
}

ul {
  padding-left: 20px;
  color: red;
}

li {
  margin-bottom: 5px;
}

main h1 {
  color: #088c7f;
}

main p {
  font-size: 16px;
}

